body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}
body .header {
  width: 100vw;
  background-color: #c9c9c9;
  position: relative;
  top: -21px;
  left: -8px;
  height: 70px;
}
body .header .logo {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgb(137, 137, 137)), to(rgb(91, 91, 0)));
  background-image: linear-gradient(to top, rgb(137, 137, 137), rgb(91, 91, 0));
  -webkit-background-clip: text;
          background-clip: text;
  text-align: center;
  color: transparent;
  cursor: pointer;
}
body .header ul {
  padding-inline: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 23px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .header ul li {
  list-style-type: none;
}
body .header ul li a {
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
  text-decoration: none;
}
body .header ul li a:hover {
  color: rgb(194, 194, 194);
}